/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
// @import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    justify-content: center;
    display: flex;
}
.p-datatable-header{
    overflow: hidden;
}
.container {
    // border: 1px solid black;
    padding: 10px;
    margin: 0 auto;
}